@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.App {
  text-align: center;
  padding: 40px 0;

  .loading-wrapper {
    position: absolute;
    top: 0;
    z-index: 999;
    background-color: rgba(0,0,0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
  }
  .persons-list-wrapper {
    .persons-list {
      list-style: none;
      padding: 0;
      margin: 0;
      .persons-list-item {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        background: white;
        transition: all .3s ease;
        border-bottom: 1px solid #e8e8e8;
        cursor: pointer;
        &:hover {
          background-color: #cdcdcd;
        }
      }
    }

    .accounting-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
      gap: 2.7%;
      margin-top: 15px;
      .grid-item {
        padding: 10px;
        border-right: 1px solid #d0d0d0;
        &:last-of-type {
          border: none;
        }
      }
    }
  }

  .add-button {
    position: fixed;
    bottom: 100px;
    right: 30px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: white;
  }
}
